.crypto-card {
  border: 1px solid black;
  text-align: center;
  border-radius: .5em;
  display: flex;
  justify-content: space-between;
  padding: 0em 3em 0em 3em;
}

.crypto-container {
  display: grid;
  grid-template-rows: repeat;
  grid-gap: .5em;
  padding: 3em;
}

a {
  text-decoration:none;
  color: black;
  }

.crypto-container-header {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em 0em 1em;
  color: grey;
}