.crypto-card {
  border-bottom: 1px solid rgb(195, 195, 195);
  text-align: center;
}

.crypto-info {
  text-decoration: none;
  color: black;
}

.crypto-container {
  margin-top: 1em;
  border-collapse: collapse;
  width: 100%;
}

.crypto-container-header {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.crypto-container th,
.crypto-container td {
  padding: 8px;
  text-align: left;
}

.crypto-card:hover {
  background-color: rgb(248,250,253);
  cursor: pointer;
}
