.crypto-card {
  border-bottom: 1px solid rgb(195, 195, 195);
  text-align: center;
}

.crypto-info {
  /* text-decoration: none; */
  color: black;
}

.watchlist-btn {
  border: 1px solid black;
  border-radius: 10px;
}

.watchlist-btn:hover {
  background-color: rgb(56,97,251);
  color: white;
}

.crypto-container {
  border-collapse: collapse;
  width: 100%;
}

.crypto-container-header {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.crypto-container th,
.crypto-container td {
  padding: 8px;
  text-align: left;
}

.crypto-info:hover {
  color: blue;
  cursor: pointer;
}
